<div layout-gt-md="row">
  <panel-widget flex title="Overview" template="app/views/partials/overview.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Espaço das Artes" template="app/views/partials/paid100.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Jardim Botânico 2" template="app/views/partials/paid090.html" class="fixed-height-widget"></panel-widget>
  <!--<panel-widget flex title="Site visitors" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>-->
  <!--<panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>-->
  <!--<panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>-->
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Condominio A" template="app/views/partials/paid080.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Condominio B" template="app/views/partials/paid080.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Condominio C" template="app/views/partials/paid070.html" class="fixed-height-widget"></panel-widget>
  <!--<panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>-->
  <!--<panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>-->
  <!--<panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>-->
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Condominio D" template="app/views/partials/paid060.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Condominio E" template="app/views/partials/paid040.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Condominio F" template="app/views/partials/paid020.html" class="fixed-height-widget"></panel-widget>
  <!--<panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>-->
  <!--<panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>-->
</div>
